 .u-section-1 {
  background-image: url("images/fading-halftone-geometrical-patterned-blue-backgro-2023-11-27-04-49-39-utc1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 539px;
  margin: 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  --radius: 10px;
  width: 660px;
  margin: 101px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 442px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-weight: 700;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 45px auto 0 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px 30px 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding-top: 12px;
  padding-bottom: 13px;
  transition-duration: 0.5s;
  --radius: 10px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  font-size: 0.75rem;
  margin: 29px auto 0 30px;
}

.u-section-1 .u-video-1 {
  width: 568px;
  height: 320px;
  margin: -424px 19px 60px auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-video-poster-1 {
  background-image: url("images/img.png");
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 500px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 335px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    padding-left: 44px;
    padding-right: 44px;
    margin-left: 0;
  }

  .u-section-1 .u-video-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 396px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 15px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 15px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-video-1 {
    width: 662px;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 261px;
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 384px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 8px;
    margin-right: 21px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 29px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 21px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-video-1 {
    height: 215px;
    width: 350px;
    margin: 31px 15px 56px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}.u-section-2 .u-sheet-1 {
  min-height: 649px;
}

.u-section-2 .u-layout-wrap-1 {
  --radius: 21px;
  margin-top: 58px;
  margin-bottom: 58px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 86px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 560px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 16px 36px 16px 11px;
}

.u-section-2 .u-group-elements-1 {
  width: 551px;
  min-height: 386px;
  height: auto;
  margin: 15px 15px 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 62px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.375rem;
  line-height: 1.4;
  margin: 27px 0 0 2px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  transition-duration: 0.5s;
  --radius: 8px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 18px 332px 0 2px;
  padding: 8px 13px;
}

.u-section-2 .u-line-1 {
  width: 65px;
  transform-origin: left center;
  transform: rotate(360deg);
  margin: -263px 494px 0 auto;
}

.u-section-2 .u-video-1 {
  width: 580px;
  height: 377px;
  margin: -125px auto 0 41px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-video-poster-1 {
  background-image: url("images/notarizedagreementisometricConverted1.png");
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-2 .u-layout-cell-2 {
    --radius: 21px;
    min-height: 653px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 414px;
  }

  .u-section-2 .u-video-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 922px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 34px;
    margin-bottom: -14px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 828px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0 30px;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 315px;
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    margin-top: -235px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-video-1 {
    margin-top: 272px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 65px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 454px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-video-1 {
    height: 338px;
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 31px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 46px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 640px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 330px;
    width: 350px;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5625rem;
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    margin-top: -244px;
    margin-left: 35px;
  }

  .u-section-2 .u-video-1 {
    height: 251px;
    margin-top: 253px;
    margin-bottom: -12px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before,
.u-section-2 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 8px !important;
}

.u-section-2 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 8px !important;
}

.u-section-2 .u-btn-1 {
  border-color: transparent !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 546px;
}

.u-section-3 .u-layout-wrap-1 {
  --radius: 21px;
  margin-top: 26px;
  margin-bottom: 9px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 561px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 24px;
}

.u-section-3 .u-group-elements-1 {
  width: 586px;
  min-height: 401px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 19px auto 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.1875rem;
  margin: 0 65px 0 7px;
}

.u-section-3 .u-text-2 {
  font-size: 1.375rem;
  margin: 16px 0 0 7px;
}

.u-section-3 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 27px auto 0 0;
  padding: 5px 33px;
}

.u-section-3 .u-video-1 {
  width: 565px;
  height: 389px;
  margin: -393px 19px 0 auto;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-video-poster-1 {
  background-image: url("images/notarizedagreementisometricConverted2.png");
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 673px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 427px;
  }

  .u-section-3 .u-video-1 {
    width: 427px;
    height: 294px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 26px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 856px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 14px 30px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 696px;
    min-height: 379px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 15px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 15px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 15px;
  }

  .u-section-3 .u-video-1 {
    height: 339px;
    margin-top: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 792px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 520px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-video-1 {
    height: 272px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-bottom: 25px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 682px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-elements-1 {
    margin-top: 40px;
    min-height: 358px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5625rem;
    width: auto;
    margin-right: 15px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-right: 15px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 25px;
    margin-right: 15px;
  }

  .u-section-3 .u-video-1 {
    height: 171px;
    margin-top: 32px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 893px;
}

.u-section-4 .u-list-1 {
  width: 100%;
  margin: 60px auto 60px -11px;
}

.u-section-4 .u-repeater-1 {
  min-height: 700px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  grid-gap: 10px;
}

.u-section-4 .u-list-item-1 {
  --radius: 15px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 28px;
}

.u-section-4 .u-video-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: 300px;
  margin: 36px 0 0;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-4 .u-video-poster-1 {
  background-image: url("images/NFTify2.png");
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 42px 69px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.375rem;
  margin: 24px 0 0 4px;
}

.u-section-4 .u-list-item-2 {
  --radius: 15px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 28px;
}

.u-section-4 .u-video-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: 300px;
  margin: 36px 0 0;
}

.u-section-4 .embed-responsive-2 {
  position: absolute;
}

.u-section-4 .u-video-poster-2 {
  background-image: url("images/lts1.png");
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 42px 69px 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.375rem;
  margin: 24px 0 0 4px;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 50px;
  height: 50px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: auto;
  top: 317px;
  right: 4px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-4 .u-video-1 {
    inset: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-video-2 {
    inset: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-4 .u-list-1 {
    min-height: 700px;
    margin-left: -15px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 79px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 79px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 22px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-gallery-nav-1 {
    left: 22px;
    width: 41px;
    height: 41px;
    top: 350px;
  }

  .u-section-4 .u-gallery-nav-2 {
    width: 41px;
    height: 41px;
    top: 350px;
    right: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 23px;
    margin-bottom: 23px;
    min-height: 497px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 497px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-4 .u-video-1 {
    height: 150px;
    width: 350px;
    margin-top: 39px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5625rem;
    margin-top: 39px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 15px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-4 .u-video-2 {
    height: 150px;
    width: 350px;
    margin-top: 39px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5625rem;
    margin-top: 39px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 15px;
  }

  .u-section-4 .u-gallery-nav-1 {
    left: 7px;
    width: 31px;
    height: 31px;
    top: 197px;
  }

  .u-section-4 .u-gallery-nav-2 {
    width: 31px;
    height: 31px;
    top: 197px;
    right: 7px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 573px;
}

.u-section-5 .u-layout-wrap-1 {
  --radius: 21px;
  width: 660px;
  margin: 30px auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 563px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 27px 0 0;
}

.u-section-5 .u-group-elements-1 {
  min-height: 417px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 47px;
  margin-bottom: -20px;
  height: auto;
  width: 633px;
}

.u-section-5 .u-text-1 {
  font-size: 2.1875rem;
  margin: 0 35px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.375rem;
  margin: 29px 0 0;
}

.u-section-5 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 34px 293px 0 0;
  padding: 5px 33px;
}

.u-section-5 .u-video-1 {
  width: 578px;
  height: 386px;
  margin: -449px 30px 63px auto;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

.u-section-5 .u-video-poster-1 {
  background-image: url("images/notarizedagreementisometricConverted41.png");
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 500px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-5 .u-group-elements-1 {
    width: auto;
  }

  .u-section-5 .u-video-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1072px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 709px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 599px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-group-elements-1 {
    min-height: 430px;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    margin-right: 5px;
    margin-left: 15px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 32px;
    margin-left: 15px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 31px;
    margin-right: 263px;
    margin-left: 15px;
  }

  .u-section-5 .u-video-1 {
    width: 660px;
    margin-top: 30px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-elements-1 {
    margin-bottom: -89px;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-video-1 {
    width: 540px;
    height: 316px;
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 541px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-5 .u-group-elements-1 {
    min-height: 367px;
    margin-top: 52px;
    margin-bottom: -20px;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-right: 15px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 34px;
    margin-right: 15px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-5 .u-video-1 {
    width: 350px;
    height: 222px;
    margin-top: 27px;
    margin-bottom: 28px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 600px;
}

.u-section-6 .u-layout-wrap-1 {
  --radius: 21px;
  width: 660px;
  margin: 43px 0 0 auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 563px;
}

.u-section-6 .u-container-layout-1 {
  padding: 34px 38px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 18px 87px 0 0;
}

.u-section-6 .u-line-1 {
  width: 65px;
  transform-origin: left center;
  transform: rotate(360deg);
  margin: 11px auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.375rem;
  line-height: 1.4;
  margin: 27px 11px 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  transition-duration: 0.5s;
  --radius: 8px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 11px auto 0 0;
  padding: 8px 13px;
}

.u-section-6 .u-video-1 {
  width: 600px;
  height: 382px;
  margin: -447px auto 65px 0;
}

.u-section-6 .embed-responsive-1 {
  position: absolute;
}

.u-section-6 .u-video-poster-1 {
  background-image: url("images/notarizedagreementisometricConverted3.png");
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 500px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 7px;
  }

  .u-section-6 .u-line-1 {
    height: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    --radius: 6px;
  }

  .u-section-6 .u-video-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 981px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 554px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 15px;
  }

  .u-section-6 .u-line-1 {
    margin-top: 10px;
    margin-left: 15px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 16px;
    margin-left: 15px;
  }

  .u-section-6 .u-btn-1 {
    --radius: 8px;
    margin-left: 15px;
  }

  .u-section-6 .u-video-1 {
    width: 690px;
    margin-top: 22px;
    margin-left: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1069px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
  }

  .u-section-6 .u-line-1 {
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    font-size: 1rem;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-6 .u-video-1 {
    width: 540px;
    height: 299px;
    margin-top: 20px;
    margin-bottom: 65px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 41px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 503px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-6 .u-line-1 {
    margin-top: 11px;
    margin-left: 15px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 10px;
    margin-left: 15px;
  }

  .u-section-6 .u-video-1 {
    height: 210px;
    width: 350px;
    margin: 2px 15px 27px;
  }
}

.u-section-6 .u-btn-1,
.u-section-6 .u-btn-1:before,
.u-section-6 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 8px !important;
}

.u-section-6 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-6 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 8px !important;
}

.u-section-6 .u-btn-1 {
  border-color: transparent !important;
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 868px;
}

.u-section-7 .u-list-1 {
  margin-top: 75px;
  margin-bottom: 0;
}

.u-section-7 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 753px;
  grid-gap: 10px;
}

.u-section-7 .u-list-item-1 {
  --radius: 15px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-7 .u-video-1 {
  height: 300px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 595px;
  margin: 35px auto 0;
}

.u-section-7 .embed-responsive-1 {
  position: absolute;
}

.u-section-7 .u-video-poster-1 {
  background-image: url("images/Group289.png");
}

.u-section-7 .u-group-elements-1 {
  width: 595px;
  min-height: 238px;
  height: auto;
  margin: 87px auto 0;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 115px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.375rem;
  margin: 11px 0 0;
}

.u-section-7 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
  margin: -237px -525px 0 700px;
}

.u-section-7 .u-text-4 {
  font-size: 1.375rem;
  margin: 13px -627px 0 700px;
}

.u-section-7 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 246px;
  right: 10px;
}

.u-section-7 .u-video-2 {
  height: 300px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 595px;
  margin: -723px 35px 60px auto;
}

.u-section-7 .embed-responsive-2 {
  position: absolute;
}

.u-section-7 .u-video-poster-2 {
  background-image: url("images/Group288.png");
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-7 .u-list-1 {
    min-height: 531px;
  }

  .u-section-7 .u-group-elements-1 {
    margin-top: 424px;
  }

  .u-section-7 .u-text-3 {
    margin-top: -2922px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-top: 2699px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1465px;
  }

  .u-section-7 .u-list-1 {
    margin-top: 51px;
    min-height: auto;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: 100%;
    min-height: 1414px;
  }

  .u-section-7 .u-video-1 {
    height: 352px;
    width: 670px;
    margin-top: 1px;
    margin-right: 20px;
  }

  .u-section-7 .u-group-elements-1 {
    min-height: 251px;
    width: 660px;
    margin-top: 740px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 4px;
    margin-right: 90px;
    margin-left: 10px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: -943px;
    margin-right: 20px;
    margin-left: 70px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 15px;
    margin-right: 30px;
    margin-left: 60px;
  }

  .u-section-7 .u-gallery-nav-2 {
    top: 374px;
    right: 15px;
  }

  .u-section-7 .u-video-2 {
    width: 675px;
    margin-top: -707px;
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-7 .u-list-1 {
    min-height: 788px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-7 .u-video-1 {
    height: 284px;
    width: 540px;
    margin-right: 0;
  }

  .u-section-7 .u-group-elements-1 {
    margin-top: 12px;
    width: 540px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-7 .u-text-3 {
    font-size: 1rem;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-top: 82px;
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-7 .u-video-2 {
    height: 240px;
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1173px;
  }

  .u-section-7 .u-list-1 {
    margin-top: 22px;
    min-height: 531px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 1129px;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 13px 15px;
  }

  .u-section-7 .u-video-1 {
    height: 160px;
    width: 350px;
    margin-top: 32px;
  }

  .u-section-7 .u-group-elements-1 {
    min-height: 264px;
    width: 350px;
    margin-top: 54px;
    margin-right: auto;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-right: 15px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 28px;
    margin-right: 15px;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 287px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-7 .u-gallery-nav-1 {
    left: 22px;
    width: 31px;
    height: 31px;
    top: 204px;
  }

  .u-section-7 .u-gallery-nav-2 {
    width: 31px;
    height: 31px;
    top: 204px;
  }

  .u-section-7 .u-video-2 {
    height: 169px;
    width: 350px;
    margin: -506px 15px 363px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 651px;
}

.u-section-8 .u-layout-wrap-1 {
  --radius: 21px;
  width: 642px;
  margin: 46px auto 0 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 603px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 50px;
}

.u-section-8 .u-group-elements-1 {
  min-height: 470px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-8 .u-text-1 {
  font-size: 2.1875rem;
  margin: 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.375rem;
  margin: 16px 0 0;
}

.u-section-8 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 26px auto 0 0;
  padding: 5px 33px;
}

.u-section-8 .u-video-1 {
  width: 622px;
  height: 356px;
  margin: -457px 20px 101px auto;
}

.u-section-8 .embed-responsive-1 {
  position: absolute;
}

.u-section-8 .u-video-poster-1 {
  background-image: url("images/notarizedagreementisometricConverted4.png");
}

@media (max-width: 1199px) {
  .u-section-8 .u-video-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1041px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 700px;
    margin-top: 0;
    margin-right: 20px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-group-elements-1 {
    min-height: 435px;
  }

  .u-section-8 .u-video-1 {
    width: 680px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 968px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-8 .u-video-1 {
    width: 540px;
    height: 283px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 453px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-8 .u-group-elements-1 {
    min-height: 382px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-right: 15px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-right: 10px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 16px;
    margin-right: -20px;
  }

  .u-section-8 .u-video-1 {
    width: 350px;
    height: 199px;
    margin-top: 37px;
    margin-bottom: 37px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 615px;
}

.u-section-9 .u-layout-wrap-1 {
  --radius: 21px;
  width: 660px;
  margin: 52px 0 0 auto;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 561px;
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 20px 38px 49px;
}

.u-section-9 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 22px 67px 0 22px;
}

.u-section-9 .u-line-1 {
  width: 65px;
  transform-origin: left center;
  transform: rotate(360deg);
  margin: 14px auto 0 36px;
}

.u-section-9 .u-text-2 {
  font-size: 1.375rem;
  line-height: 1.4;
  margin: 19px 0 0 22px;
}

.u-section-9 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  transition-duration: 0.5s;
  --radius: 8px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 24px auto 0 22px;
  padding: 8px 13px;
}

.u-section-9 .u-video-1 {
  width: 601px;
  height: 340px;
  margin: -425px auto 85px 20px;
}

.u-section-9 .embed-responsive-1 {
  position: absolute;
}

.u-section-9 .u-video-poster-1 {
  background-image: url("images/Group291.png");
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 500px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 489px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
  }

  .u-section-9 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-9 .u-video-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 545px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 15px;
  }

  .u-section-9 .u-line-1 {
    margin-left: 15px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 28px;
    margin-left: 15px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 22px;
    margin-left: 15px;
  }

  .u-section-9 .u-video-1 {
    width: 680px;
    margin-top: 24px;
    margin-left: auto;
    margin-bottom: 52px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1022px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
  }

  .u-section-9 .u-line-1 {
    margin-left: 36px;
  }

  .u-section-9 .u-text-2 {
    font-size: 1rem;
    margin-left: 0;
  }

  .u-section-9 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-9 .u-video-1 {
    width: 540px;
    height: 270px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 15px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5625rem;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-9 .u-line-1 {
    margin-left: 15px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-9 .u-btn-1 {
    margin-right: 10px;
    margin-left: 15px;
  }

  .u-section-9 .u-video-1 {
    width: 350px;
    height: 190px;
    margin: 37px 15px 26px;
  }
}

.u-section-9 .u-btn-1,
.u-section-9 .u-btn-1:before,
.u-section-9 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-9 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 8px !important;
}

.u-section-9 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-9 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 8px !important;
}

.u-section-9 .u-btn-1 {
  border-color: transparent !important;
}.border-radius {
	border-radius:21px;
}